<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr">
<head>
<title>IP Manager - Change a Site's IP Address</title>
<link rel="shortcut icon" href="[% favicon_mrlink %]" type="image/x-icon" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<!--[if gt IE 6]>
<link rel="stylesheet" href="[% ie7_css_mrlink %]" />
<![endif]-->
<!--[if lt IE 7]>
<link rel="stylesheet" href="[% ie6_css_mrlink %]" />
<![endif]-->
<link rel='stylesheet' type='text/css' href='[% combopt_css_mrlink %]' /><link rel='stylesheet' type='text/css' href='[% styleopt_css_mrlink %]' />
<!--[if IE]>
<style type="text/css">
h3{font-size:11px;}
</style>
<![endif]-->
<script type='text/javascript' src='[% utilcontainer_js_mrlink %]'></script><script type='text/javascript' src='[% cpallmin_js_mrlink %]'></script><script type="text/javascript">
//<![CDATA[
// Security token for xml-api calls
CPANEL.security_token = "[% security_token %]";
//]]>
</script>
</head>

<body class="yui-skin-sam">
<div id="pageheader">
        <div id="breadcrumbs">
                <p>&nbsp;<a href="[% security_token %]/scripts/command?PFILE=main">Main</a>&nbsp;&gt;&gt;&nbsp;Plugins</a>&nbsp;&gt;&gt;&nbsp;<a href="[% security_token %]/cgi/addons/ipmanager/index.cgi" class="active">IP Manager</a></p>
        </div>
        <div id="doctitle">
                <h1><span><img src="[% chngsiteip_jpeg_mrlink %]" alt="" /></span> Change Site's IP Address</h1>

        </div>
</div>

<div class="topboxmargin"></div><link rel="stylesheet" type="text/css" href="[% autocomplete_css_mrlink %]" />
<style type="text/css">
.htable td {
    border-right: 0;
}
.htable th {
    background: #ccc;
    height: 22px;
}
.searchmod {text-align:center;}
</style>

<form action="" name="fmain" onsubmit="setHostname(); var account_selected = (this.domain.selectedIndex !== -1) && (this.user.selectedIndex !== -1); if (!account_selected) { alert('You must select an account to proceed.'); return false }">
	<input type='hidden' name='action' value='selectip' />
	<input type='hidden' name='hostname' />

<table style="margin: 0 auto;" width="80%" align="center">
<tr>
 <td>


<table align="center" id="brick1" width="100%" class="datatable" border="0" cellpadding="5" cellspacing="0">
    <tr>
            <th align="left">Account Selection</th>

                </tr>
                    <tr>
                            <td align="left" class="cell">
<table width="100%">
<tr>

<td align="center">
    <table align="center" class="tablecomplex2">
    <tr>
        <td class="heavybg">Domains</td>
        <td class="heavybg">Users</td>
     </tr>
    <tr>
        <td class="lightbg">
			<select size="10" id="domainselectEl" name="domain" onChange="try { selectu(); } catch(e) { };">
			[% FOREACH acct IN accts %]
    			<option value="[% acct.user %]">[% acct.domain %]</option>
			[% END %]
            </select>
        </td>
		<td class="lightbg">
			<select size="10" name="user" onChange="try { selectd(); } catch (e) {};">
		    [% FOREACH acct IN accts %]
    			<option>[% acct.user %]</option>
			[% END %]
			</select>
		</td>
    </tr>
    <tr>

    </tr>
    </table>
</td>
<td align="center" style="border-right:0;">
    <div id='acctinfo'>Account Information will be displayed here after you select an account.</div>

    </td>
    </tr>
    </table>
      </td>
      </tr>
      </table>
      <br /><br /><table align="center" id="brick2" width="100%" class="datatable" border="0" cellpadding="5" cellspacing="0">
      <tr>
      <th align="left">Account Search</th>

      </tr>
      <tr>
      <td align="left" class="cell"> 
      <!-- AutoComplete begins -->
            <table align="center" width="100%" style="margin: 0 auto;">
                <tr>
                <td align="right" valign="top" width="10%">
                    By Domain:
                </td>
                <td align="left" valign="top" width="40%">    
                        <div id="searchautocomplete2">

                            <input id="searchinput2">
                            <div id="searchcontainer2"></div>
                        </div>
                </td>
                <td align="right" valign="top" width="10%">
                    By User: 
                </td>
                <td align="left" valign="top" width="40%">    
                        <div id="searchautocomplete">
                            <input id="searchinput">

                            <div id="searchcontainer"></div>
                       </div>
                </td> 
                    </tr>
                    </table>
<script type="text/javascript">
CPANEL.util.prevent_submit('searchinput');
CPANEL.util.prevent_submit('searchinput2');
</script>
            <!-- AutoComplete ends -->
           <br /> 
           </td>
               </tr>

               </table>


</td>
</tr>

</table><br /><br />
<div align="center">
    <input
     type="submit"
     class="input-button"
     id="submit_userlist_form"
     value="Change"

    />
</div>


    </form>

<script type='text/javascript' src='[% pkghover_js_mrlink %]'></script><script type='text/javascript' src='[% datasource_js_mrlink %]'></script><script type='text/javascript' src='[% autocomplete_js_mrlink %]'></script>
<script type="text/javascript">
//<![CDATA[
function setHostname(){
	document.fmain.hostname.value = document.fmain.domain.options[document.fmain.domain.selectedIndex].text;
}


var prefetchacctinfo = 0;        
function selectd() {
    var thisuser = (document.fmain.user.options[document.fmain.user.selectedIndex].value || document.fmain.user.options[document.fmain.user.selectedIndex].text);
    for(var i=0;i<document.fmain.user.options.length;i++) {
        if (document.fmain.domain.options[i].value == thisuser) {
            document.fmain.domain.selectedIndex=i;
            showacctinfo(thisuser);
            break;
        }
    }
}
function selectu() {
    for(var i=0;i<document.fmain.domain.options.length;i++) {
        if (document.fmain.user.options[i].value == document.fmain.domain.options[document.fmain.domain.selectedIndex].value ||
                document.fmain.user.options[i].text == document.fmain.domain.options[document.fmain.domain.selectedIndex].value
                ) {
            document.fmain.user.selectedIndex=i;
            showacctinfo(document.fmain.domain.options[document.fmain.domain.selectedIndex].value);
            break;
        }
    }
}



function updateUserInfo(o) {
    var rootNode = o.responseXML;
    var acct;
    var as = rootNode.getElementsByTagName('accountsummary')[0];
    var accts = as.getElementsByTagName('acct');
    if (accts) {
         acct = accts[0];
    }
    if (acct) {
        var acctinfo = document.getElementById('acctinfo');
		var owner = acct.getElementsByTagName('owner')[0].firstChild.nodeValue;
        var email = '';
		if( acct.getElementsByTagName('email')[0].firstChild != null){ 			
			email = acct.getElementsByTagName('email')[0].firstChild.nodeValue;
		}
        var startdate = acct.getElementsByTagName('startdate')[0].firstChild.nodeValue || '';
        var cpmod = acct.getElementsByTagName('theme')[0].firstChild.nodeValue || '';
        var ip = acct.getElementsByTagName('ip')[0].firstChild.nodeValue || '';
        var ppkg = acct.getElementsByTagName('plan')[0].firstChild.nodeValue || '';
        var diskused = acct.getElementsByTagName('diskused')[0].firstChild.nodeValue || '';
        var disklimit = acct.getElementsByTagName('disklimit')[0].firstChild.nodeValue || '';
    
        var newhtml ="<table style='margin: 0 auto;' class='htable' cellpadding='0' cellspacing='1'>" +
            "<tbody>"+
            "<tr><th>Ip</th><td>" + ip + "</td></tr>" +
            "<tr><th>Owner</th><td>" + owner + "</td></tr>" +
            "<tr><th>Email</th><td><a href='mailto:" + email + "'>" + email + "</a></td></tr>" +
            "<tr><th>Start Date</th><td>" + startdate + "</td></tr>" +
            "<tr><th>Theme</th><td>" + cpmod + "</td></tr>" +
            "<tr><th>Package</th><td>" +
            "<span style=\"cursor:crosshair; cursor:help;\" onMouseOver=\"hover_pkg(this,'" + ppkg + "');\" onMouseOut=\"dehover_pkg(this,'" + ppkg + "');\">"  +
            ppkg + "</span></td></tr>" +
            "<tr><th>Disk Used</th><td>" + diskused + "</td></tr>" +
            "<tr><th>Disk Limit</th><td>" + disklimit + "</td></tr>" +
            "</tbody></table>";
            acctinfo.innerHTML=newhtml;
    }
}
function showacctinfo(usernameXX) {
    var url = '[% security_token %]/xml-api/accountsummary?user=' + usernameXX;
    var callback = {
        success:updateUserInfo
    };
        var acctinfo = document.getElementById('acctinfo');
        acctinfo.innerHTML='Updating Account Information...';
        YAHOO.util.Connect.asyncRequest('GET', url, callback );
}



var UserListAutoComp,DomainListAutoComp;

function initOC () {
    // Instantiate first JS Array DataSource
    usersArray =
	[
	[% FOREACH acct IN accts %]
		["[% acct.user %]","[% acct.domain %]"],
	[% END %]
	];

    //"slice" copies the array
    domainsArray = usersArray.map( function(ud) { return ud.slice(0).reverse() } ).sort_by(0);

    var userDS = new YAHOO.widget.DS_JSArray(usersArray);
    userDS.responseSchema = {fields:['user','domain']};

    UserListAutoComp = new YAHOO.widget.AutoComplete('searchinput','searchcontainer', userDS);
    UserListAutoComp.queryDelay = 0;
    UserListAutoComp.typeAhead = false;
    UserListAutoComp.useShadow = true;
    UserListAutoComp.minQueryLength = 2;
    UserListAutoComp.forceSelection = true;
    UserListAutoComp.itemSelectEvent.subscribe(
       function(oSelf,elItem,oData){
            var newuser = elItem[2].user;
            for(var i=0;i<document.fmain.user.options.length;i++) {
                    if (document.fmain.user.options[i].value == newuser || document.fmain.user.options[i].text == newuser ) {
                    document.fmain.user.selectedIndex=i;
                    document.getElementById('searchinput2').value=elItem[2].domain;
                    selectd();
                    break;
                }
            }
        }            
    );

    UserListAutoComp.resultTypeList = false;     
    UserListAutoComp.formatResult = function(oResultData, sQuery, sResultMatch) {
        return oResultData.user + " (" + oResultData.domain + ")";
    };

    var domainDS = new YAHOO.widget.DS_JSArray(domainsArray);
    domainDS.responseSchema = {fields:['domain','user']};
    
    DomainListAutoComp = new YAHOO.widget.AutoComplete('searchinput2','searchcontainer2', domainDS);
    DomainListAutoComp.queryDelay = 0;
    DomainListAutoComp.typeAhead = false;
    DomainListAutoComp.useShadow = true;
    DomainListAutoComp.minQueryLength = 2;
    DomainListAutoComp.forceSelection = true;
    DomainListAutoComp.itemSelectEvent.subscribe(
       function(oSelf,elItem,oData){
            var newuser = elItem[2].user;
            for(var i=0;i<document.fmain.user.options.length;i++) {
                    if (document.fmain.user.options[i].value == newuser || document.fmain.user.options[i].text == newuser ) {
                    document.fmain.user.selectedIndex=i;
                    document.getElementById('searchinput').value=elItem[2].user;
                    selectd();
                    break;
                }
            }
        }            
    );

    DomainListAutoComp.resultTypeList = false;     
    DomainListAutoComp.formatResult = function(oResultData, sQuery, sResultMatch) {
        return oResultData.domain + " (" + oResultData.user + ")";
    };
    if (prefetchacctinfo) {
        selectu();
    }
}

YAHOO.util.Event.addListener(this,'load',initOC);

//]]>
</script>