<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr">
<head>
<title>IP Manager - Change a Site's IP Address</title>
<link rel="shortcut icon" href="[% favicon_mrlink %]" type="image/x-icon" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<!--[if gt IE 6]>
<link rel="stylesheet" href="[% ie7_css_mrlink %]" />
<![endif]-->
<!--[if lt IE 7]>
<link rel="stylesheet" href="[% ie6_css_mrlink %]" />
<![endif]-->
<link rel='stylesheet' type='text/css' href='[% combopt_css_mrlink %]' />
<link rel='stylesheet' type='text/css' href='[% styleopt_css_mrlink %]' />
<link rel="stylesheet" type='text/css' href="/cgi/addons/ipmanager/css/chosen.min.css">
<!--[if IE]>
<style type="text/css">
h3{font-size:11px;}
</style>
<![endif]-->
<script type='text/javascript' src='[% utilcontainer_js_mrlink %]'></script><script type='text/javascript' src='[% cpallmin_js_mrlink %]'></script><script type="text/javascript">
//<![CDATA[
// Security token for xml-api calls
CPANEL.security_token = "[% security_token %]";
//]]>
</script>
<style type='text/css'>
.grey{
	background-color:#666666;
}
.ourred{
	background-color:#ff3333;
}
#chooseip{
	margin-left:20px;
}
fieldset li{
	margin-left:-40px;
	list-style-type:none;
}
</style>
</head>

<body class="yui-skin-sam">
<div id="pageheader">
        <div id="breadcrumbs">
                <p>&nbsp;<a href="[% security_token %]/scripts/command?PFILE=main">Main</a>&nbsp;&gt;&gt;&nbsp;Plugins</a>&nbsp;&gt;&gt;&nbsp;<a href="[% security_token %]/cgi/addons/ipmanager/index.cgi" class="active">IP Manager</a></p>
        </div>
        <div id="doctitle">
                <h1><span><img src="[% chngsiteip_jpeg_mrlink %]" alt="" /></span> Change Site's IP Address</h1>

        </div>
</div>

<div class="topboxmargin"></div><link rel="stylesheet" type="text/css" href="[% autocomplete_css_mrlink %]" />
<div id="chooseip">
	<form action="" method="POST">
		<input type='hidden' name='action' value='changeip' />
		<input type="hidden" name="user" value="[% user %]" />
		<input type="hidden" name="hostname" value="[% domain %]" />
	<div id="domain_ip_information" class="form_action">
		<fieldset>
			<h3>[% domain %]</h3>
			<table style="width: 100%">
				<tr>
					<td class="align_right" style="width: 120px"><label for="domain">Current IP Address:</label></td>
                    <td style="width: 200px">[% IF aliasip != '' %]<input type="hidden" name="oldip" value="[% oldip %]" /><input type="text" name="aliasip" value="[% aliasip %]" readonly />[% ELSE %]<input type="text" name="oldip" value="[% oldip %]" readonly />[% END %]</td>
                    <td><div id="domain_error"></div></td>
                </tr>
                <tr>
                    <td class="align_right"><label for="username">New IP Address:</label></td>

                    <td>
						<select name="customip" id="customipselect" class="chosen-select">
						<!--if nat'd display public ip but value is internal ip -->
						[% FOREACH key IN available_ips.keys.sort %]
							[% IF (matches = available_ips.$key.match('(.+)(-GREY)$')) %]
								<option class='grey' value=[% key %]>[% matches.0 %]</option>
							[% ELSIF (matches = available_ips.$key.match('(.+)(-RED)$')) %]
								<option style="background-color:red;" value=[% key %]>[% matches.0 %]</option>
							[% ELSE %]
								<option value=[% key %]>[% available_ips.$key %]</option>
							[% END %]
						[% END %]
						[% FOREACH ip IN shared_ips %]
							<option value='[% ip %]'>[% ip %] (Shared IP Address)</option>
						[% END %]
						</select>
					</td>
                    <td><div id="username_error"></div></td>
                </tr>
				<tr>
					<td>&nbsp;</td>
					<td colspan="2">IPs shown in <span class='grey'>grey</span> already have a domain on them.</td>
				</tr>
				<tr>
					<td>&nbsp;</td>
					<td colspan="2">IPs shown in <span class='ourred'>red</span> already have 2 or more domains on them.</td>
				</tr>
            </table>
        </fieldset>

    </div><!-- end domain_ip_information -->
		<input type="button" class="input-button" onclick='history.go(-1)' value="Go Back" /> <input type="submit" id="submit" value="Change" />
	</form>
	<br /><br /><br />
	
	<div id="domain_information" class="form_action">
		<fieldset>
			<h3>Domains affected by the IP change</h3>
			<table style="width: 100%">
				<tr>
					<td class="align_right" style="width: 120px"><label for="domain">Main Domain:</label></td>
                    <td style="width: 200px">[% domain %]</td>
                    <td><div id="domain_error"></div></td>
                </tr>
                <tr>
					<td class="align_right" style="width: 120px"><label for="sub">Sub Domains:</label></td>
                    <td style="width: 200px">
						[% COUNT = 0 %]
						<ul>
						[% FOREACH subdomain IN subdomains %]
								[% COUNT = COUNT + 1 %]
							<li>[% subdomain.domain %]</li>
						[% END %]
						</ul>
						[% IF COUNT == '0' %]
						<p>none</p>
						[% END %]
					</td>
                    <td><div id="sub_error"></div></td>
                </tr>
				<tr>
					<td class="align_right" style="width: 120px"><label for="parked">Parked Domains:</label></td>
                    <td style="width: 200px">
						[% COUNT = 0 %]
						<ul>
						[% FOREACH parkeddomain IN parked_domains %]
							[% COUNT = COUNT + 1 %]
							<li>[% parkeddomain.domain %]</li>
						[% END %]
						</ul>
						[% IF COUNT == '0' %]
						<p>none</p>
						[% END %]
					</td>
                    <td><div id="parked_error"></div></td>
                </tr>
            </table>
        </fieldset>

    </div><!-- end domain_information -->

</div>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js" type="text/javascript"></script>
<script src="/cgi/addons/ipmanager/js/chosen.jquery.min.js" type="text/javascript"></script>
<script type="text/javascript">
	$().ready(function(){
		$(".chosen-select").chosen({width: "200px"});
		$(".chosen-select").click(function(e) {
		  e.stopPropagation();
		});
	});
</script>
</html>